name: Deploy docs

on:
  push:
    branches:
      - master
    paths:
      - docs/**

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        working-directory: ./docs
        run: pnpm install

      - name: Build website
        working-directory: ./docs
        run: pnpm build